<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<h1> <%= @instruction.name %></h1>
<%= link_to t('instructions.add')+ ' ' + t('instructions.step'), new_step_path(instruction_id: @instruction) %>
