<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<h1> <%= @step.name %></h1>
<%= link_to t('instructions.add')+ ' ' + t('instructions.block'), new_instruction_step_block_path(instruction_id: @step.instruction, step_id: @step.id) %>

<table border="1" class="table">
  <tr>
    <th><%=t('instructions.name')%></th>
  </tr>

  <% @step.blocks.each do |block| %>
      <tr>
        <td><%= link_to block.name, instruction_step_block_path(@step.instruction.id, @step.id, block.id) %></td>
      </tr>
  <% end %>
</table>